TAKAHE_DATABASE_SERVER=postgres://{{ postgres_user }}:{{ postgres_password }}@localhost:5432/{{ postgres_database }}
TAKAHE_DEBUG=false
TAKAHE_SECRET_KEY={{ django_secret_key }}
TAKAHE_CSRF_TRUSTED_ORIGINS=["https://{{fqdn}}", "localhost"]
TAKAHE_USE_PROXY_HEADERS=true
TAKAHE_MAIN_DOMAIN="{{ fqdn }}"
TAKAHE_ENVIRONMENT="production"
TAKAHE_MEDIA_BACKEND="local://"
TAKAHE_MEDIA_ROOT="{{ site_path }}/{{ takahe_media_location }}"
TAKAHE_MEDIA_URL="https://{{ fqdn }}/{{ takahe_media_location }}/"
TAKAHE_EMAIL_SERVER="smtp://postmaster@mg.wersdoerfer.de:{{ mailgun_smtp_password }}@smtp.mailgun.org:587/"
TAKAHE_EMAIL_FROM='Takahe <notifications@{{ fqdn }}>'
TAKAHE_ERROR_EMAILS=["jochen-takahe@wersdoerfer.de"]
